
header{
    background-color: lightblue;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 1%;
}

footer{
    background-color: lightblue;
    height: 70px;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding-top: 1%;
}
main{
    height: 120px;
    margin-top: 20px;
    padding-top: ;
}
nav{
    width: 18%;
    float: left;
    border-right: 1px black solid;
}
section{
    width: 80%;
    float: left;
    padding-left: 10px;
}
h5{
    color: blue;
}
