*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
#container {
    max-width:600px;
    margin: 40px auto;   
}
 
#titlos {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    background-color:rgb(8, 207, 58);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color:#fff;
}
section {
    text-align:gender;
    background-color:rgb(226, 227, 240);
    padding:20px 30px;
}
input {
    width:100%;
    height:50px;
    margin-bottom:10px;
}
 
 
input[type="submit"] {
    width:200px;
    margin:0 auto;
    display:block;
    height:40px;
    color:#fff;
    background-color:rgb(8, 207, 58);
}