*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(photos/css-pattern-3.png); */
}
/* niosto padi
ul li:nth-child(odd) {
    color: red;
} */
nav{
    margin-left: 40px;
    margin-top: 40px;
}
nav ul {
    list-style: none;
}
nav ul li {
    background-color: aqua;
    width: 80px;
    height: 40px;
    /* valame inline-block giati dn theloume inline kai theloume na pernei diastaseis*/
    /* display: inline-block; */
    float: left;
}
/*epeidi to a einai inline prepei na tou allaxw display xwris uto dne allazei diastaseis*/
nav ul li a{
    text-decoration: none;
    color: #000;
    width: 80px;
    height: 40px;
    /*mono gia mia grammi */
    line-height: 40px;
    background-color: pink;
    /*block gia na mporei na parei distaseis*/
    display: block ;
    text-align: center;
}
/* vazw pseudoklasi panw sto a gia na kanei hover*/
nav ul li a:hover{
    background-color: aqua;
    color: white;
    height: 45px;
    transition: background-color 0.9s , height 0.3s;
}
nav ul li ul {
    visibility: hidden;
}
/* otan kanw hover to ul na einai vivible einai i diadromi mexri kai to ul*/
nav ul li:hover ul {
    visibility: visible;
}
nav ul ul ul{
    position: relative;
    left: 80px;
    top: -40px;
    visibility: hidden;
}
nav ul li:hover ul ul {
    visibility: hidden;
}
nav ul ul li:hover ul{
    visibility: visible;
}
.current{
    background-color: aqua;
    color: white;
}